
#footer_pc {
    background-color: rgb(6, 73, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    width: 100vw;
}

#contato {
    background-color: rgb(110, 223, 161);
    height: 5vh;
    width: 20vh;
}

#informações {
    background-color: rgb(110, 223, 161);
    height: 5vh;
    width: 20vh;
}

@media (max-width: 480px) {
    #head_icons_mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .btn_collapse_eletr, .btn_collapse_farmac {
        top: 63%;
        width: 40vw;
    }
    .btn_collapse_eletr {
        right: 4%;
    }
    .btn_collapse_farmac {
        left: 4%;
    }
}