header {
    /* header ll be transparent, green is for viewing only for now  */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
}

#img_logo img {
    height: 100%;
    width: auto;
}

#logo_text_animation {
    font-family: 'Lato' ,'Courier New', Courier, monospace;
    margin: 1vh 0 0 0;
    font-size: 2.5vh;
    font-weight: 600;
    color: rgb(6, 74, 46);
}

#head_icons {
    display: flex;
    flex: row;
    justify-content: flex-end;
    width: 100%;
}

/* Botôes de informação */

.btn_cartao button {
    border: 2px solid rgb(6, 73, 46);
    border-radius: 10px;
}

.btn_info button {
    border: 4px solid rgb(6, 73, 46);
    border-radius: 10px;
}

.btn_info {
    margin: 0 5vw 0 0;
}

.btn_info button {
    margin: 5vh 0 0 3vw;
}

.btn_info img {
    height: 72px;
}

.btn_collapse_eletr, .btn_collapse_farmac {
    background-color: rgba(61, 61, 61, 0.356);
    margin: 2vh 0 0 0;
    padding: 1vw;
    height: 22vh;
    position: absolute; /* Makes sure the collapse stays near the button */
    top: 13%;
    color: white;
    font-family: 'Arvo' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid rgb(6, 74, 46);
    box-shadow: rgba(0, 0, 0, 0.52) 0px 15px 25px 0px;
}

@media (max-width: 480px) {
        
}