header {
    /* header ll be transparent, green is for viewing only for now  */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
}

#img_logo img {
    height: 100%;
    width: auto;
}

#logo_text_animation {
    font-family: 'Lato' ,'Courier New', Courier, monospace;
    margin: 1vh 0 0 0;
    font-size: 2.5vh;
    font-weight: 600;
    color: rgb(6, 74, 46);
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards ease-in, opacity 1s ease-in-out;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#head_icons {
    display: flex;
    flex: row;
    justify-content: flex-end;
    width: 100%;
}

.container_info {
    display: none;
}

/* Botôes de informação */


.btn_info button {
    background-color: rgba(6, 73, 46, 0.85);
    border: 3px solid rgba(6, 73, 46, 0.85);
    border-radius: 10px;
    cursor: pointer;
}

.btn_info {
    margin: 0 6vw 0 0;
}

.btn_info button {
    margin: 5vh 0 0 3vw;
}

.btn_info img {
    height: 72px;
}

.btn_collapse_eletr, .btn_collapse_farmac {
    background-color: rgba(6, 73, 46, 0.415);
    font-family: 'Arvo' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    border: 2px solid rgb(63, 128, 11);
    box-shadow: rgba(0, 0, 0, 0.52) 0px 15px 25px 0px;

    margin: 2vh 0 0 0;
    padding: 1vw;

    position: absolute; /* Makes sure the collapse stays near the button */
    top: 13%;

    height: 22vh;
    min-width: 130px;
    width: 10vw;
}

@media (max-width: 480px) {
    header {
        height: 6vh;
        width: 100%;
    }

    #search_mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(6, 73, 46, 0.55);
        border: 3px solid rgb(6, 73, 46);
        border-radius: 10px;
        height: 70%;
        width: 100vw;
        margin: 4% 4% 0 4%;
    }
    #search_mobile img {
        height: auto;
        width: 40px;
        max-width: 100px; /* Ajuste conforme o tamanho desejado */
        margin-right: 1vw;
    }

    #text-area form {
        display: flex; /* Para que o input e o botão fiquem alinhados */
        justify-content: center;
        align-items: flex-start;
    }

    #search-bar_mobile {
        all: unset;

        width: 80%;
        height: 2.6vh;
        padding: 2vw;
    }

    #search-bar_mobile::placeholder {
        padding: 10px;
        border-left: 1px solid rgb(63, 128, 11);
        color: white;
        font-family: 'Arvo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
    }

    .btn_submit_mobile {
        all: unset;

        width: 12vw;
        height: 5vh;
        cursor: pointer;
    }
}