section {
    margin: 0 4vh;
    height: 80vh;
}

/* Caixa de Busca CEP*/
#search_mobile {
    display: none;
}

#search {
    width: 20vw;
}

#search form {
    display: flex;
    flex-direction: row;
}

#search-bar {
    background-color: rgba(53, 53, 53, 0.356);
    border: 2px solid rgb(6, 73, 46);
    border-radius: 10px;

    margin: 0 1vw 0 0;
    padding: 0 0 0 6px;
    height: 3.5vh;
    width: 100%;
}

#search-bar::placeholder {
    font-family: 'Arvo' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 15px;
    font-weight: 200;
    color: white;
}


.btn_submit {
    font-family: 'Arvo' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 2px solid rgb(6, 73, 46);
    border-radius: 10px;
    height: 4vh;
    width: 5vw;
}

/* Menu */

#list {
    background: black;
    font-family: 'Arvo' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

    width: 20vw;
    margin: 50px;

}

#close_menu {
    width: 15%;
}

#btn_close {
    height: 60px;
    
    position: absolute;
    top: 50vh;
    width: 4vw;
}

#btn_close img{
    height: 32px;
}

.cartao {
    display: flex;
    flex: column;
    justify-content: space-between;
    
    border-bottom: 1px solid white;
    background-color: rgb(184, 184, 184);
    height: 15%;
    width: 100%;
}

.texto_cartao {
    margin: 0 5px 0;
    font-size: 14px;
}

.btn_cartao button {
    margin: 6px;
    height: 46px;
}

@media (max-width: 480px) {
    section {
        margin: 5%;
    }
}