section {
    margin: 0 4vh;
    height: 80vh;
}

/* Caixa de Busca CEP*/
#search_mobile {
    display: none;
}

#map-iframe {
    overflow: hidden;
}

#search {
    width: 20vw;
    position: relative;
    z-index: 2;
}

#search form {
    display: flex;
    flex-direction: row;
}

#search-bar {
    background-color: transparent;
    border: 2px solid rgb(63, 128, 11);
    border-radius: 10px;

    margin: 0 1vw 0 0;
    padding: 0 0 0 6px;
    height: 3.5vh;
    width: 100%;
    min-width: 290px;
}

#search-bar::placeholder {
    font-family: 'Arvo' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 15px;
    font-weight: 200;
    color: white;
}


.btn_submit {
    font-family: 'Lato' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    border: 2px solid rgb(63, 128, 11);
    border-radius: 10px;
    height: 4vh;
    width: 5vw;
    cursor: pointer;
    min-width: 65px;
}

/* Menu */

#list {
    display: none;
    border: 5px solid rgba(63, 128, 11);

    position: absolute;
    left: 5vw;

    background-color: rgba(63, 128, 11);
    font-family: 'Lato' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 600;
    font-size: 18px;

    width: 21vw;
    min-width: 18vw;
    margin: 50px;

}


.cartao, #list {
    border-radius: 10px;
    min-width: 256px;
}

.cartao {
    display: flex;
    flex: column;
    justify-content: space-between;
    
    border-bottom: 1px solid rgb(63, 128, 11);
    background-color: rgb(214, 214, 214);
    height: 15%;
    width: 100%;
}

.btn_cartao button {
    font-family: 'Lato' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 16px;
    border: 2px solid rgb(63, 128, 11);
    border-radius: 10px;
    cursor: pointer;
}

.texto_cartao {
    margin: 0 5px 0;
    font-size: 14px;
}

.btn_cartao button {
    margin: 6px;
    height: 46px;
}

/* Botao fechar menu */

#close_menu {
    width: 15%;
}

#btn_close {
    height: 60px;
    border: 0;
    border-radius: 10px;
    
    cursor: pointer;
    position: absolute;
    top: 50vh;
    width: 4vw;
    min-width: 55px;
}

#btn_close img{
    height: 32px;
}

@media (max-width: 480px) {
    section {
        height: 75vh;
        margin: 3%;
        overflow: hidden;
    }

    #list {
        margin: 0;
        top: 8vh;
        left: 4%;
        width: 90vw;
    }
}