<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoponto</title>
</head>


<body>
    <header>
        <div id="img_logo">
            <img src="/media/logo_eco-ponto.png">
        </div>
        <div id="logo_text_animation">
            <p>Preserve.</p>
            <p>Cuide.</p>
            <p>Recicle</p>
        </div>
        <div id="head_icons">
            <div class="btn_info">
                <button>
                    <img src="/media/icon_remedio.png">
                </button>
                <div class="btn_collapse_farmac">
                    <p>Aqui vai as informações</p>
                </div>
            </div>
            <div class="btn_info">
                <button>
                    <img src="/media/icon_descarte.png">
                </button>
                <div class="btn_collapse_eletr">
                    <p>Aqui vai as informações</p>
                </div>
            </div>
        </div>    
    </header>
</body>

</html>