<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <script src="./js/script.js"></script>
    
    <script src="https://kit.fontawesome.com/2282fdb901.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../CSS/login.css">
</head>
<body>
    <section>
        <div class="login-container">
            <div id="login-content">
                <div id="logo">
                    <img src="./../media/logo_eco-ponto.png">
                </div>
                <div id="box">
                    <label for="user">Username</label>
                    <input id="user" type="text">
                    
                    <label for="password">Password</label>
                    <input id="password" type="text">
                    
                    <button type="submit">Login</button>
                    <hr>
                    <div id="social-btns">
                        <div><i class="fa-brands fa-instagram"></i></div>
                        <div><i class="fa-brands fa-facebook"></i></div>
                        <div><i class="fa-brands fa-google"></i></div>
                    </div>
                </div>
            </div>
            <div id="login-img">

            </div>
        </div>
    </section>
</body>
</html>
